.grid {
  width: 35vh;
  height: 70vh;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}
button {
  margin: 10px;
}

.grid div {
  height: 3.5vh;
  width: 3.5vh;
  box-sizing: border-box;
  border: 1px darkorchid solid;
}
.tetromino {
  background-color: blueviolet;
}

.mini-grid {
  margin-left: 50px;
  width: 14vh;
  height: 14vh;
  display: flex;
  flex-wrap: wrap;
  background-color: chartreuse;
}
.mini-grid div {
  height: 3.5vh;
  width: 3.5vh;
  box-sizing: border-box;
  border: 1px darkorchid solid;
}
.container {
  display: flex;
}

div .no-border {
  border: none;
}
